#foodDetail {
 .foodDetail-content {
   padding: 20px 40px;
   .foodDetail-content-top {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; /*no*/
    & > p {
      font-size: 30px;
      color: #2D2D2D;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      line-height: 42px;
      &:last-child {
        margin-bottom: 0;
      }
      & > img {
        width: 32px;
        height: 36px;
        margin-right: 10px;
      }
    }
   }
  .foodDetail-content-con {
    padding: 30px 0;
    font-size:27px;
    font-weight:400;
    color:rgba(45,45,45,1);
    line-height:38px;
    border-bottom: 1px solid #eee; /*no*/
  }
  .foodDetail-special-food {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    .foodDetail-special {
      margin-top: 20px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      & > div {
        flex: 1;
        width: 136px;
        margin-right: 40px;
        font-size: 26px;
        color: #2d2d2d;
        line-height: 37px;
        text-align: center;
        margin-bottom: 20px;
        &:nth-child(4n) {
          margin-right: 0;
        }
        & > img {
          width: 136px;
          height: 128px;
        }
      }
    }
  }
  .foodDetail-tuijian {
    padding: 20px 0;
    .shouye-tab-top {
      border: 2px solid #01BE5E;
      display: flex;
      height: 60px;
      line-height: 60px;
      font-size: 28px;
      border-radius: 6px;
      margin-bottom: 20px;
      & > span {
        flex: 1;
        text-align: center;
        color: #555;
        border-right: 2px solid #01BE5E;
        &:last-child {
          border-right: 0px solid #01BE5E;
        }
      }
      & > span.choose {
        background: #01BE5E;
        color: #fff
      }
    }
    & > h3 {
      font-size:30px;
      font-weight:400;
      color:rgba(45,45,45,1);
      line-height:42px;
      margin-bottom: 20px;
    }
    .foodDetail-tuijian-list {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      & > div {
        flex: 1;
        width: 320px;
        font-size:32px;
        font-weight:400;
        color:rgba(11,11,11,1);
        line-height:45px;
        margin-right: 30px;
        margin-bottom: 20px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        & > img {
          width: 320px;
          height: 320px;
          margin-bottom: 10px;
        }
        & > p {
          & > img {
            width: 24px;
            height: 24px;
            margin: 10px 0;
          }
        }
      }
    }
  }
 }
}
