#my{
    width:100%;
    .message-box{
        width:39px;
        height:31px;
        position:absolute;
        top:26px;
        right:45px;
        &>img{
            width:39px;
            height:31px;
        }
        &>div{
          height:26px;
          background:rgba(233,0,0,1);
          position:absolute;
          left:26px;
          top:-13px;
          padding:0px 7px;
          text-align:center;
          line-height:26px;
          font-size:18px;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:rgba(255,255,255,1);
          border-radius:11px;
        }
    }
    .my-info-box{
      width:100%;
      height:260px;
      background:rgba(1,190,94,1);
      display:flex;
      align-items:center;
      padding:0px 40px;
      &>img{
          width:100px;
          height:100px;
          border-radius:50%;
          flex-shrink:0;
          margin-right:11px;
      }
      .my-info-box-right{
          display:flex;
          flex-direction:column;
          &>div:nth-of-type(1){
              height:42px;
              font-size:30px;
              font-family:PingFangSC-Regular,PingFang SC;
              font-weight:400;
              color:rgba(0,0,0,1);
              margin-top:9px;
              line-height:42px;
          }
          &>div:nth-of-type(1){
              height:37px;
              font-size:26px;
              font-family:PingFangSC-Regular,PingFang SC;
              font-weight:400;
              color:rgba(0,0,0,1);
              line-height:37px;
          }
      }
    }
    .my-list-box{
        display:flex;
        width:670px;
        margin:40px auto 0;
        flex-wrap:wrap;
        .my-item-box{
            width:335px;
            height:335px;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            &>img{
                width:66px;
                height:66px;
            }
            &>div{
              height:42px;
              font-size:30px;
              font-family:PingFangSC-Regular,PingFang SC;
              font-weight:400;
              color:rgba(88,88,88,1);
              line-height:42px;
              margin-top:7px;
            }
        }
        .my-item-box:nth-of-type(1){
            border-right:1px solid rgba(216,216,216,1);
            border-bottom:1px solid rgba(216,216,216,1);
        }
        .my-item-box:nth-of-type(2){
            border-left:1px solid rgba(216,216,216,1);
            border-bottom:1px solid rgba(216,216,216,1);
        }
        .my-item-box:nth-of-type(3){
            border-right:1px solid rgba(216,216,216,1);
            border-top:1px solid rgba(216,216,216,1);
        }
        .my-item-box:nth-of-type(4){
            border-left:1px solid rgba(216,216,216,1);
            border-top:1px solid rgba(216,216,216,1);
        }
    }
}