#techan-detail {
    width:100%;
    .techan-detail-content{
      width:100%;
      padding:0px 40px 20px;
      background: white;
      .techan-detail-point-box{
          width:100%;
          margin-top:20px;
          border-top:1px solid rgba(238,238,238,1);
      }
    }
  }
  