#travelsDetail {
  & > img {
    height: 360px;
    width: 100%;
  }
  .travelsDetail-content {
    padding: 20px 30px;
    & > h2 {
      font-size:30px;
      font-weight:400;
      color:rgba(45,45,45,1);
      line-height:42px;
      margin-bottom: 20px;
    }
    .travelsDetail-con-top {
      display: flex;
      align-items: center;
      font-size:30px;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:42px;
      & > img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
    .travelsDetail-con-intro {
      display: flex;
      padding: 30px 0;
      & > div {
        flex: 1;
        border-right: 1px solid #CDCDCD;
        text-align: center;
        &:last-child {
          border-right: 0px solid #CDCDCD;
        }
        & > img {
          width: 40px;
          height: 40px;
          margin-bottom: 6px;
        }
        & > p {
          margin-bottom: 2px;
          font-size:24px;
          font-weight:400;
          color:rgba(0,0,0,1);
          line-height:33px;
        }
      }
    }
    .travelsDetail-con-con {
      padding: 20px 0;
      font-size:26px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(45,45,45,1);
      line-height:37px;
    }
  }
}
